<h1>Editando Placa</h1>

<%= render 'form', license_plate: @license_plate %>

<%= link_to 'Ver', @license_plate, class: "btn btn-warning" %> |
<%= link_to 'Voltar', license_plates_path, class: "btn btn-default" %>
